.rule {
    background-color: #F4F4F4;

    .ruleContent {
        margin: auto;
        width: 85%;
        display: flex;
        flex-direction: column;
        min-height: 70vh;

        @media(max-width: 1200px) {
            width: 90%;
        }

        .ruleArea {
            padding: 20px 0px 20px 0px;
            font-size: 18px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            line-height: 30px;
            text-align: justify;

            @media(max-width: 1024px) {
                font-size: 16px;
                line-height: 25px;
            }

            h2 {
                color: blue;
            }

            ol {
                margin-top: 10px;
                padding: 0 20px;

                li {
                    margin: 5px 0 2px 0;
                    font-weight: bold;
                }
            }
        }
    }
}